<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

			<!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="/css/bootstrap.min.css">

			<!-- Optional theme -->
			<link rel="stylesheet" href="/css/bootstrap-theme.min.css">

			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

			<!-- Latest compiled and minified JavaScript -->
			<script src="/js/bootstrap.min.js"></script>

			<link rel="stylesheet" type="text/css" href="/styles.css">

			<script src="/script.js"></script>
		</head>

		<body>

			<div class="page-header">
  				<h1>VOTES<small>app</small></h1>
  				<% if (user) { %>
  					<p>User: <%= user.email %></p>
  				<% } %>
  				<% if (!isAuthenticated) { %>

  					<form action="/login" method="get">
	  					<button type="button submit" class="btn btn-default" id="to-login">Login</button>
	  				</form>
  					
  				<% } else { %>

  					<form action="/logout" method="get" style="width: 200px">
  						<button type="button submit" class="btn btn-default navbar-btn" id="logout">Log out</button>
  					</form>
  				<% } %>
			</div>

			<% if (isAuthenticated) { %>

				<div class="container">
					<a role="button" class="btn btn-default" id="hide-form" style="margin-bottom: 20px">Add new Vote</a>
					
					<form id="addVoteForm" class="hidden">
						<div class="form-group has-error" >
							<label class="control-label" id="errorDiv"></label>
						</div>

						<div class="form-group">
						    <label for="inputName">Name</label>
						    <input type="text" class="form-control" id="inputName" placeholder="Name">
						</div>

						<div class="form-group">
						    <label for="inputDesc">Description</label>
						    <textarea rows="3" type="text" class="form-control" id="inputDesc" placeholder="Description"></textarea>
						</div>

						<div class="form-group" id="voteOptions">
						    <label for="inputVoteOptions">Options</label>
						    <div>
						    	<a role="button" class="btn btn-default btn-xs" id="more_options">
						    		<span class="glyphicon glyphicon-plus"></span>
						    	</a>
								<a role="button" class="btn btn-default btn-xs" id="less_options">
									<span class="glyphicon glyphicon-minus"></span>
								</a>
							</div>
						    <input type="text" class="form-control" id="inputOption0" placeholder="Option">
						</div>

						<div class="form-group">
						    <label for="exampleInputFile">File input</label>
						    <input name="foo" type="file" id="exampleInputFile">
						</div>

						<button type="submit" class="btn btn-default" id="add_vote">Add new vote</button>

					</form>
					
				</div>


				<hr>
			<% } %>

			<div class="container" id="votes_list">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Votes</th>
						</tr>
					</thead>
					<tbody id="votes-tbody">
						<% if (votes.length === 0) { %>
							<tr><td><h3>No votes yet</h3></td></tr>
						<% }; %> 



						<% votes.forEach( function(vote) { %>

							
							
							

							<tr id="getVoteDetails">
								<td id= <%= vote._id %>>
									<% if (isAuthenticated) { %>
										<br>
										Closed: <%= vote.isClosed %>

										<% if (!vote.isClosed) { %>
											<a role="button" class="closeVoteButton btn btn-default btn-xs">Close vote</a>
										<% } else { %>
											<a role="button" class="reopenVoteButton btn btn-default btn-xs">Reopen vote</a>
										<% }; %>
									<% }; %>

									<br>
									Name: <span id="voteName"><%= vote.name %></span>
									<br>
									Description: <%= vote.desc %>
									<br>

									<% if (vote.isClosed || vote.votedIPs.includes(ip)) { %>
										Options: <% vote.voteOptions.forEach( function(vote) { %>
											<br>
											<%= vote.name %>
											--- Count: <%= vote.count %>
										<% }); %>
									<% } else { %>
										Options: <% vote.voteOptions.forEach( function(vote) { %>
											<br>
											<div class="radio"><label><input type="radio" name="optradio">
											<%= vote.name %>
											<!-- --- Count: <%= vote.count %> -->
											</label></div>
										<% }); %>
									<% }; %>

									<br>
									<% if (vote.isClosed || vote.votedIPs.includes(ip)) { %>
										<a role="button" class="voteButton btn btn-default hidden" id="chooseOption">Vote</a>
									<% } else { %>
										<a role="button" class="voteButton btn btn-default" id="chooseOption">Vote</a>
									<% }; %>
								</td>
							</tr>
						<% }); %>
					</tbody>
				</table>
			</div>
		</body>
	</html>