<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

			<!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="/css/bootstrap.min.css">

			<!-- Optional theme -->
			<link rel="stylesheet" href="/css/bootstrap-theme.min.css">

			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

			<!-- Latest compiled and minified JavaScript -->
			<script src="/js/bootstrap.min.js"></script>

			<link rel="stylesheet" type="text/css" href="/styles.css">

		</head>

		<body>

			<div class="page-header">
  				<h1>VOTES<small>app</small></h1>
  				<% if (user) { %>
  					<span>User: <%= user.email %></span>
  				<% } %>
  				<% if (!isAuthenticated) { %>
  					<form action="/login/" method="post" id="login-form" style="width: 200px">

						<div class="form-group has-error">
							<label class="control-label">
								<%= error %>
							</label>
						</div>

  						<div class="form-group">
  							<label for="input-user-name">User Name</label>
					    	<input required name="email" type="text" class="form-control" id="input-user-name" placeholder="User name">
  						</div>

  						<div class="form-group">
  							<label for="input-user-password">Password</label>
					    	<input required name="password" type="password" class="form-control" id="input-user-password" placeholder="Password">
  						</div>

						<button type="button submit" class="btn btn-default navbar-btn" id="login">Sign in</button>
						<button formaction="/register" type="button submit" class="btn btn-default navbar-btn" id="register">Register</button>

  					</form>
  				<% } else { %>
  					<p><%= %></p>
  					<form action="/logout" method="get" style="width: 200px">
  						<button type="button submit" class="btn btn-default navbar-btn" id="logout">Log out</button>
  					</form>
  				<% } %>

  				<form action="/" method="get">
  					<button type="button submit" class="btn btn-default navbar-btn btn-xs">Go Back</button>
  				</form>
			</div>
		</body>

	</html>